<%= render(::DatabaseNavigationComponent.new) %>
<%= render(::TopNavigationComponent.new) %>

<div class="md:ml-64 flex flex-col h-screen">
  <main class="flex-1 h-screen">
    <div class="py-6 h-screen">
      <div class="relative h-full max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <%= render(::MessageInputComponent.new) %>
      </div>
    </div>
  </main>
</div>
