<li>
  <%= link_to chat_path(@chat), class: "flex items-center w-full p-2 text-base text-stone-900 transition duration-75 rounded-lg group hover:bg-stone-100 dark:text-white dark:hover:bg-stone-700", aria_controls: @dom_id, data: { collapse_toggle: @dom_id, turbo_frame: "chat_window", turbo_action: 'advance' } do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="flex-shrink-0 w-5 h-5 text-stone-500 transition duration-75 group-hover:text-stone-900 dark:text-stone-400 dark:group-hover:text-white size-6">
      <path fill-rule="evenodd" d="M1.5 5.625c0-1.036.84-1.875 1.875-1.875h17.25c1.035 0 1.875.84 1.875 1.875v12.75c0 1.035-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 0 1 1.5 18.375V5.625ZM21 9.375A.375.375 0 0 0 20.625 9h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 0 0 .375-.375v-1.5Zm0 3.75a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 0 0 .375-.375v-1.5Zm0 3.75a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5a.375.375 0 0 0 .375-.375v-1.5ZM10.875 18.75a.375.375 0 0 0 .375-.375v-1.5a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375h7.5ZM3.375 15h7.5a.375.375 0 0 0 .375-.375v-1.5a.375.375 0 0 0-.375-.375h-7.5a.375.375 0 0 0-.375.375v1.5c0 .207.168.375.375.375Zm0-3.75h7.5a.375.375 0 0 0 .375-.375v-1.5A.375.375 0 0 0 10.875 9h-7.5A.375.375 0 0 0 3 9.375v1.5c0 .207.168.375.375.375Z" clip-rule="evenodd" />
    </svg>

    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"><%= @chat.name %></span>
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m1 1 4 4 4-4" />
    </svg>
  <% end %>

  <ul id="<%= @dom_id %>" class="hidden py-1 space-y-1">
    <%- @chat.tables.each do |table| %>
      <li>
        <a href="#"
          class="flex items-center w-full p-1 text-stone-900 transition duration-75 rounded-lg pl-11 group hover:bg-stone-100 dark:text-white dark:hover:bg-stone-700"><%= table %></a>
      </li>
    <% end %>
  </ul>
</li>
