<div id="help_modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-stone-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-stone-600">
        <h3 class="text-xl font-semibold text-stone-900 dark:text-white">
          Slonito FAQ
        </h3>
        <button type="button"
          class="text-stone-400 bg-transparent hover:bg-stone-200 hover:text-stone-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-stone-600 dark:hover:text-white"
          data-modal-hide="help_modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="px-4 md:px-5 space-y-4">
        <div class="w-full">
          <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-stone-700 text-stone-900 dark:text-white" data-inactive-classes="text-stone-500 dark:text-stone-400">
            <h2 id="accordion-flush-heading-1">
              <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-stone-500 border-b border-stone-200 dark:border-stone-600 dark:text-stone-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
                <span>Who is Slonito?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
              <div class="py-5 border-b border-stone-200 dark:border-stone-600">
                <p class="mb-2 text-stone-500 dark:text-stone-400">Slonito is a pink elephant who loves SQL and decided to help every one that's facing trouble with this language.</p>
              </div>
            </div>
            <h2 id="accordion-flush-heading-2">
              <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-stone-500 border-b border-stone-200 dark:border-stone-600 dark:text-stone-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                <span>How do I work with Slonito?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
              <div class="py-5 border-b border-stone-200 dark:border-stone-600">
                <p class="mb-2 text-stone-500 dark:text-stone-400">By clicking in "New chat", you can pass to Slonito the structure (or schema) of the database that you are working with. With this info, the 🐘 will be eable to help you to generate all the queries that you need.</p>
                <p class="text-stone-500 dark:text-stone-400">Be sure to check the queries veracity before putting the code somewhere else! Slotino can confuse itself sometimes, but will always try to fix them to you.</p>
              </div>
            </div>
            <h2 id="accordion-flush-heading-3">
              <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-stone-500 dark:text-stone-400 gap-3 border-b border-stone-200 dark:border-stone-600" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
                <span>How can I create the best question to Slonito?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
              <div class="py-5 border-b border-stone-200 dark:border-stone-600">
                <p class="mb-2 text-stone-500 dark:text-stone-400">
                  To get the best results from Slonito, it’s essential to create clear and precise prompts. When asking the assistant to generate SQL queries, here are a few tips to keep in mind:
                </p>
                <p class="mb-2 text-stone-500 dark:text-stone-400">
                  <b>Be Clear and Specific:</b> Clearly state what you need, providing as much context as possible. The assistant works best when it has a clear idea of the desired output.
                </p>
                <p class="mb-2 text-stone-500 dark:text-stone-400">
                  <b>Provide Relevant Information:</b> If your query is related to a specific database structure or schema, always include this information. This helps the assistant generate responses that align with the data structure you're working with.
                </p>
                <p class="mb-2 text-stone-500 dark:text-stone-400">
                  <b>Use Natural Language:</b> Write your prompts as if you were explaining the task to a colleague. Avoid unnecessary complexity, but ensure that your request is detailed enough for the model to understand.
                </p>
                <p class="mb-2 text-stone-500 dark:text-stone-400">
                  <b>Ask One Thing at a Time:</b> Keep your prompts focused on a single task or question. Complex, multi-step prompts can lead to confusion and less accurate responses.
                </p>
                <p class="mb-4 text-stone-500 dark:text-stone-400">
                  <b>Check and Refine:</b> If Slonito’s output doesn’t meet your expectations, try refining your prompt by being even more specific or rephrasing your question.
                </p>

                <h3>Good ✅</h3>
                <p class="mb-2 text-stone-500 dark:text-stone-400">
                  <em>"Generate a SQL query to retrieve the names and salaries of employees from the 'employees' table, where the salary is greater than 50,000."</em>
                </p>
                <h3>Bad ❌</h3>
                <p class="mb-4 text-stone-500 dark:text-stone-400">
                  <em>"Give me some data."</em>
                </p>

                <p class="mb-2 text-stone-500 dark:text-stone-400">
                  By following these guidelines and using clear prompts, you’ll improve the quality of Slonito's responses and make your interactions with the system more productive.
                </p>
              </div>
            </div>
            <h2 id="accordion-flush-heading-4">
              <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-stone-500 dark:text-stone-400 gap-3 border-b border-stone-200 dark:border-stone-600" data-accordion-target="#accordion-flush-body-4" aria-expanded="false" aria-controls="accordion-flush-body-4">
                <span>Which LLM is Slonito based on?</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-4">
              <div class="py-5">
                <p class="mb-2 text-stone-500 dark:text-stone-400">Currently, Slonito uses <a href="https://huggingface.co/google/gemma-2-2b-it" target="_blank" class="text-rose-600 dark:text-rose-500 hover:underline">Gemma 2</a> to generate its queries.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end items-center p-4 md:p-5 border-t border-stone-200 rounded-b dark:border-stone-600">
        <button data-modal-hide="help_modal" type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-stone-900 focus:outline-none bg-white rounded-lg border border-stone-200 hover:bg-stone-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-stone-100 dark:focus:ring-stone-700 dark:bg-stone-800 dark:text-stone-400 dark:border-stone-600 dark:hover:text-white dark:hover:bg-stone-700">Close</button>
      </div>
    </div>
  </div>
</div>
