<%- if @chat_message.is_input? %>
  <div class="flex justify-end mt-6">
    <div class="flex flex-col max-w-7xl leading-1.5 p-4 border-stone-200 bg-stone-100 rounded-s-xl rounded-ee-xl dark:bg-stone-600">
      <div class="flex items-center justify-end space-x-2 rtl:space-x-reverse">
        <span class="text-sm font-semibold text-stone-900 dark:text-white">Me</span>
        <span class="text-sm font-normal text-stone-500 dark:text-stone-400"><%= @chat_message.created_at.strftime('%b %-d, %R')%></span>
      </div>
      <p class="text-sm text-right font-normal py-2.5 text-stone-900 dark:text-white">
        <%= @chat_message.content %>
      </p>
    </div>
  </div>
<% else %>
  <div class="flex justify-start mt-6">
    <div class="flex flex-col max-w-7xl leading-1.5 p-4 border-stone-200 bg-stone-100 rounded-e-xl rounded-es-xl dark:bg-stone-800">
      <div class="flex items-center space-x-2 rtl:space-x-reverse">
        <span class="text-sm font-semibold text-stone-900 dark:text-white">Slonito</span>
        <span class="text-sm font-normal text-stone-500 dark:text-stone-400"><%= @chat_message.created_at.strftime('%b %-d, %R')%></span>
      </div>
      <p data-markdown-target="item" class="break-words text-sm font-normal py-2.5">
        <%= @chat_message.content_to_markdown %>
      </p>
    </div>
  </div>
<% end %>

<%- if @go_down %>
  <script>
    var objDiv = document.getElementById("chat_container");
    objDiv.scrollTop = objDiv.scrollHeight;
  </script>
<% end %>
